* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
/*NAV*/
nav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.logonav {
  display: flex;
  margin: 0.5rem;
}
.logo {
  width: 10rem;
  height: auto;
  padding: 0.5rem;
  cursor: pointer;
}

.rightnav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .rightnav ul li {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
nav .rightnav ul li .profile {
  height: 2rem;
  width: 2rem;
  text-decoration: none;
  cursor: pointer;
}
/*DROPDOWN LENGUAGE ICON*/
.showicon {
  margin-right: 15px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.lenguage {
  width: 4.5rem;
  height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-right: 0.5rem;
  background-color: #070707;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
  display: block;
}

.showicon.selected + .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border: 0.5px solid #d9ff02;
  border-radius: 1rem;
}
.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 100%;
  height: auto;
  display: block;
}
/*MAIN*/
.body-page {
  background-color: #0f0f0f;
}
.main-details {
  height: fit-content;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-container {
  margin: auto;
  display: flex;
}
.event-title,
.event-time,
.event-info,
.event-location {
  color: #fff;
}
.event-title {
  font-size: 2rem;
}
.event-info {
  width: fit-content;
}
.event-general {
  padding-right: 2rem;
  border-radius: 1rem;
  display: flex;
  margin: auto;
  justify-content: center;
  width: fit-content;
}
.event-image {
  height: 400px;
  width: 60%;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 6px 0px 4px #d9ff02;
  -moz-box-shadow: 4px 6px 0px 4px #d9ff02;
  box-shadow: 2px 2px 0px 2px #d9ff02;
}
/*FILLED IN JS ABOUT INFO*/
.event-main-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 2rem;
  width: 40%;
  padding-top: 1rem;
}

/* STYLE FOR TAB FOR NAVIGATING INSIDE THE HTML*/
.event-subinfo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}
/*CONTAINS IMG-TITLE AND SUBTITLE*/

.sub-info-content {
  display: flex;
  align-items: center;
  width: fit-content;
}
.sub-info-text {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
.sub-info {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.sub-info:hover {
  border-bottom: solid 2px rgb(229, 248, 118);
  transition: 1s;
}
/*EVENT INFO DETAILS */
.other-info {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  gap: 1rem;
}

.sub-info-main {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
}
.sub-info-low {
  color: #e0e0e0;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
}
.sub-info-img {
  border-radius: 100%;
  width: 80px;
  height: 80px;
}
.sub-info-img:hover {
  opacity: 0.5;
}
/*INFO STYLE*/
.div-info-location {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.div-info {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-between;
  height: fit-content;
  width: 30%;
  gap: 4rem;
}
.event-time {
  padding-top: 2rem;
  font-weight: 600;
  line-height: 2.5;
}
.event-info {
  align-self: center;
  padding-top: 2rem;
  line-height: 2.5;
}
/*LOCATION STYLE*/
.h-location {
  color: #fff;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 600;
  font-size: 2rem;
  padding: 2rem;
  border-bottom: #d9ff02 1px solid;
}
.event-location {
  font-weight: 600;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
}
.div-location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
}
div .event-location-img {
  width: 30%;
  border-radius: 1.5rem;
  -webkit-box-shadow: 4px 6px 0px 4px #d9ff02;
  -moz-box-shadow: 4px 6px 0px 4px #d9ff02;
  box-shadow: 2px 2px 0px 2px #d9ff02;
  cursor: pointer;
}
.event-logo {
  width: 20%;
  height: auto;
  border-radius: 50%;
}
/*TICKETS STYLE*/
.div-ticket {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}
.prices-container {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  gap: 4rem;
  width: 80%;
  margin: auto;
}
.price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  border-radius: 1.5rem;
  border: solid 1px #bbbbbb;
  background-color: #000000;
  padding: 3rem 4rem 3rem 4rem;
  cursor: pointer;
}
.price-item:last-child {
  text-decoration: line-through;
  color: #8e8e8e;
}
.price-item:hover {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 4px 4px #d9ff02;
  -moz-box-shadow: 0px 0px 4px 4px #d9ff02;
  box-shadow: 0px 0px 4px 4px #d9ff02;
}
.price-title,
.price-value {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 700;
}
.button-ticket {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin: auto;
  border: solid 1px #bbbbbb;
  border-radius: 1rem;
  margin-top: 3rem;
  width: 20%;
  padding: 1rem;
  background-color: #000000;
  color: #e0e0e0;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 700;
}
.button-ticket:hover {
  transition: 1s;
  -webkit-box-shadow: 0px 0px 4px 4px #d9ff02;
  -moz-box-shadow: 0px 0px 4px 4px #d9ff02;
  box-shadow: 0px 0px 4px 4px #d9ff02;
}
/*FOOTER*/
footer {
  width: 100%;
  height: fit-content;
  background-color: #000000;
  border-top: 1px solid #d9ff02;
  border-bottom: 1px solid #d9ff02;
  margin-top: 2rem;
  display: flex;
}
.footerh {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-size: 2rem;
  color: #ffffff;
  margin: auto;
}
.footer-div {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
}

.footer-ul {
  display: flex;
  margin: auto;
  align-items: center;
  margin: 2rem;
  padding-top: 1rem;
  width: 30%;
  margin-top: 3rem;
}

/*FIRST CHILD*/
.eventify-app {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.brandicon {
  width: 40%;
  padding-bottom: 2rem;
}
.downloadicons {
  width: 40%;
  padding-bottom: 2rem;
  cursor: pointer;
}

/*SECOND CHILD*/
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-form {
  display: flex;
  gap: 2rem;
}

.top-input {
  width: 50%;
}

.contact-text,
.top-input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #000000;
  color: #fff;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}
/* PLACEHOLDER COLOR */
.top-input::placeholder,
.contact-text::placeholder {
  color: #8e8e8e;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
}
.button-form {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  cursor: pointer;
}
.button-form:hover {
  border: 1px solid rgb(229, 248, 118);
}
/*THIRD CHILD*/
.follow-us {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.followusicons {
  padding-top: 4rem;
  width: 20%;
  cursor: pointer;
}
/*SWEET ALERT*/
.my-popup {
  background-color: #000000;
  border: 1px solid rgb(229, 248, 118) !important;
  -webkit-box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
  -moz-box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
  box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
}
.my-title,
.my-text {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  color: #fff;
}
.my-confirm-button {
  background-color: #000000 !important;
  border: 1px solid rgb(229, 248, 118) !important;
  -webkit-box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
  -moz-box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
  box-shadow: 0px 0px 4px 4px rgb(229, 248, 118) !important;
}
