:root {
  /* dark shades of primary color*/
  --clr-primary-1: rgba(0, 0, 0, 0.8);
  --clr-primary-2: #160c25;
  --clr-dropshadow: rgb(229, 248, 118);
  --clr-secondary-2: #007aff;
  --clr-secondary-3: #daedff;
  --font-primary: "Nunito", sans-serif;
  --font-size-primary: 50px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
/* Width */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

/* Height */
::-webkit-scrollbar {
  height: 100px; /* Adjust the height as needed */
}
/*NAV*/
nav {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.logonav {
  display: flex;
  margin: 0.5rem;
}
.logo {
  width: 10rem;
  height: auto;
  padding: 0.5rem;
  cursor: pointer;
}

.rightnav ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .rightnav ul li {
  margin: 0.5rem;
  display: flex;
  align-items: center;
}
nav .rightnav ul li .profile {
  height: 2rem;
  width: 2rem;
  text-decoration: none;
  cursor: pointer;
}
/*DROPDOWN LENGUAGE ICON*/
.showicon {
  margin-right: 15px;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.lenguage {
  width: 4.5rem;
  height: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-right: 0.5rem;
  background-color: #070707;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content.show {
  display: block;
}

.showicon.selected + .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  border: 0.5px solid var(--clr-dropshadow);
  border-radius: 1rem;
}
.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: #0f0f0f;
}
.section-main {
  height: 615px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 500ms ease;
}
/*MAIN CENTRED SEARCH TAB*/
.having {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  color: aliceblue;
  display: flex;
  margin: auto;
  padding: 182px 682px 50px 280px;
  font-size: 40px;
  font-weight: 700;
  width: 350px;
}
/*SEACRH TAB*/
.searchtab {
  margin: auto;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 750px;
  height: 95px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  -moz-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  box-shadow: 4px 6px 0px 4px rvar(--clr-dropshadow);
}
.searchtab div {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  /*BUTTONS FOR SEARCH INPUT*/
}
.search {
  padding-left: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
}
.city {
  width: 200px;
  height: 35px;
  margin-left: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.date {
  height: 35px;
  width: 120px;
  margin-left: 15px;
  padding-left: 15px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  cursor: pointer;
}
.gosearch {
  width: 10rem;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  border: #ffffff solid 1px;
  background-color: #ffffff;
  color: #000000;
  -webkit-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  -moz-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*SLIDE CAROUSEL*/
.slidecarousel {
  position: relative;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  padding-bottom: 1rem;
}
.prev-btn,
.next-btn {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 5%;
  border-radius: 1rem;
  background: #070707;
  -webkit-box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  -moz-box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 2rem;
}

.next-btn {
  right: 2rem;
}

.arrow {
  width: 50%;
  display: flex;
  margin: auto;
}
/* 1° CAROUSEL*/
.divcarousel {
  margin-top: 0.5px;
  padding-left: 5rem;
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}
.carouselh {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-right: 9rem;
  padding-bottom: 0rem;
  padding-left: 9rem;
  align-items: center;
}
.trending {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-size: 2rem;
  color: #ffffff;
}
.seeall {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.events {
  margin-left: 50px;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  -moz-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  transition: 0.5s;
}
.events:hover {
  -webkit-box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
  -moz-box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
  box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
}

.imgcarousel {
  border-radius: 15px;
  margin-bottom: 15px;
  width: 300px;
  height: 120px;
}
.eventinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h-event {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  margin-left: 15px;
}
.p-event {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 2rem;
}
/* 2° CAROUSEL*/
.carouselweekend {
  margin-top: 0.5px;
  padding-left: 5rem;
  display: flex;
  transition: transform 0.5s ease;
}
/* 3 CAROUSEL*/
.carouselart {
  margin-top: 0.5px;
  padding-left: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
}
/*NEWS CAROUSEL*/
section {
  height: 100%;
  width: 100%;
  transition: background-image 0.5s ease;
  background-size: cover;
  background-position: center;
}
.carouselnews {
  margin-top: 0.5px;
  padding-left: 5rem;
  height: 100%;
  width: 100%;
  display: flex;
}
.news {
  margin-left: 3rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 350px;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 1rem;
  background-color: #ffffff;
  -webkit-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  -moz-box-shadow: 4px 6px 0px 4px var(--clr-dropshadow);
  box-shadow: 2px 2px 0px 2px var(--clr-dropshadow);
  transition: 0.5s;
}
.news:hover {
  -webkit-box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
  -moz-box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
  box-shadow: 0px 0px 4px 4px var(--clr-dropshadow);
}
.img-news {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
.h-news,
.p-news {
  padding-left: 1rem;
  padding-top: 1rem;
}
/*BOTTOM LIST SECTION*/
.bottom-section {
  height: fit-content;
  margin-top: 2rem;
  border-top: #d9ff02 1px solid;
}

.bottom-ul {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
  margin: auto;
}

.bottom-list {
  list-style-type: none;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bottom-a {
  text-decoration: none;
  color: #d3d3d3;
  font-size: 1rem;
  text-decoration: none;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
}
.bottom-h {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
}

/*FOOTER*/
footer {
  width: 100%;
  height: fit-content;
  background-color: #000000;
  border-top: 1px solid var(--clr-dropshadow);
  border-bottom: 1px solid var(--clr-dropshadow);
  margin-top: 2rem;
  display: flex;
}
.footerh {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-size: 2rem;
  color: #ffffff;
  margin: auto;
}
.footer-div {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-around;
}

.footer-ul {
  display: flex;
  margin: auto;
  align-items: center;
  margin: 2rem;
  padding-top: 1rem;
  width: 30%;
  margin-top: 3rem;
}

/*FIRST CHILD*/
.eventify-app {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
}
.brandicon {
  width: 40%;
  padding-bottom: 2rem;
}
.downloadicons {
  width: 40%;
  padding-bottom: 2rem;
  cursor: pointer;
}

/*SECOND CHILD*/
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-form {
  display: flex;
  gap: 2rem;
}

.top-input {
  width: 50%;
}

.contact-text,
.top-input {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  background-color: #000000;
  color: #fff;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
}
/* PLACEHOLDER COLOR */
.top-input::placeholder,
.contact-text::placeholder {
  color: #8e8e8e;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
}
.button-form {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #000000;
  color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  cursor: pointer;
}
.button-form:hover {
  border: 1px solid var(--clr-dropshadow);
}
/*THIRD CHILD*/
.follow-us {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.followusicons {
  padding-top: 4rem;
  width: 20%;
  cursor: pointer;
}
/*SWEET ALERT*/
.my-popup {
  background-color: #000000;
  border: 1px solid var(--clr-dropshadow) !important;
  -webkit-box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
  -moz-box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
  box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
}
.my-title,
.my-text {
  font-family: "Encode Sans SC", sans-serif;
  @import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&display=swap");
  font-weight: 500;
  color: #fff;
}
.my-confirm-button {
  background-color: #000000 !important;
  border: 1px solid var(--clr-dropshadow) !important;
  -webkit-box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
  -moz-box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
  box-shadow: 2px 4px 0px 4px var(--clr-dropshadow) !important;
}
