
@font-face {
    font-family: 'Jersey 15';
    src: url('Jersey15-Regular.woff2') format('woff2'),
        url('Jersey15-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
